body {
  margin-top: 20px;
}

h1, .pull-center{
  text-align: center; 
}

p{ font-size: 18px;}

.calculator-block {
  background-color: #f0f0f0;
  border-radius: 5px; 
}

.form-group input + span {
  color: red;
  display: inline-block;
  padding-top: 5px;
}

.btn {
  margin-bottom: 10px;
}

